name: Simple CI

on: [push]

jobs:
  test-app:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: pip install pytest

      - name: Run Tests
        run: pytest

      - name: Login to Docker Hub
        run: echo "${{secrets.DOCKERHUB_TOKEN}}" | docker login -u "${{secrets.DOCKER_USERNAME}}" --password-stdin

      - name: Build Docker Image
        run: docker build -t jibrankhalil-jk/week3:${{github.sha}} .

      - name: Push Image
        run: docker push jibrankhaliljk/week3:${{github.sha}}
 